<kendo-dialog>
<label><b>Add password</b></label>
<div class="container">
  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <label style="color: rgb(26, 214, 73)"><b>Saved Successfully!!</b></label>&nbsp;
    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<form [formGroup]="pwdform" novalidate (ngSubmit)="onSave()">
<input 
kendoTextBox 
placeholder="Enter password" 
type="password" 
formControlName="Password"
style="height: 1.8em; width: 17em; margin-top:5px"
[ngClass]="{
    'is-invalid ng-touched':
    Password.invalid &&
      (Password.dirty || Password.touched)
  }"
  required/>
  <div
  *ngIf="
  Password.invalid &&
    (Password.dirty || Password.touched)
  "
>
  <div *ngIf="Password.errors.required">
    <label style="color: red;">Please Enter Password</label>
  </div>
  <div *ngIf="Password.errors.maxlength">
    <label style="color: red;">Password must not be greater than 8 characters.</label>
  </div>
</div>&nbsp;&nbsp;
<button
type="submit"
class="btn btn-default"
style="margin-top: 10px"
>Save
</button>&nbsp;&nbsp;
<button 
 type="button"
style="margin-top: 10px"
class="btn btn-default"
(click)="onClickClose($event)" 
>Close</button>
</form>
</div>
</kendo-dialog>


<!-- <p class="alert alert-success">
  <strong>Success!!</strong>
</p> -->